<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<%# if @novels_search %>
  <%# if @novels_search.size > 0 %>
<!--    <div id="friend-lookup-results" class="well results-block col-md-10">-->
<!--      <table class="search-results-table col-md-12">-->
<!--        <tbody>-->
        <%# @novels_search.each do |novel| %>
<!--          <tr>-->
<!--            <td><strong>Name:</strong> <%#= novel.name %></td>-->
<!--            <td><strong>Description:</strong> <%#= novel.description %></td>-->
<!--            <td><%#= link_to 'View novel', novel_path(novel), class: "btn btn-xs btn-primary" %></td>-->
<!--          </tr>-->

        <%# end %>
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
  <%# end %>
<%# end %>


<% if @novels_search %>
<% if @novels_search.size > 0 %>

<% @novels_search.each do |novel| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg " id="novel_<%= novel.id %>">
        <div class="article-title">
          <%= link_to novel.name, novel_path(novel) %>
        </div>
        <div class="article-body">
          <%= truncate(novel.description, lenght: 100) %>
          <div class="article-meta-details">
            <small>publisher: <%= novel.publisher %></small>
            <br>
            <small>Created by <%= novel.user ? novel.user.username : "no author " %>
              ,<%= time_ago_in_words(novel.created_at) %> ago,
              last update <%= time_ago_in_words(novel.updated_at) %>
            </small>
          </div>
        </div>
        <%# if novel.image.attached? %>
        <%#= link_to image_tag novel.image , size: "100x100"%>
        <%#end %>
        <%# if user_signed_in? && (current_user == novel.user || current_user.admin?) %>
        <div class="article-actions">
          <% if can? :update, novel %>
            <%= link_to "Edit", edit_novel_path(novel), class: "btn btn-xs btn-primary" %>
          <% end %>

          <% if can? :delete, novel %>
            <%= link_to "Delete", novel_path(novel), method: :delete, data: {confirm: "Are you sure ? "}, class: "btn btn-xs btn-danger", remote: true %>
          <% end %>

        </div>
<%# end %>
      </div>
    </div>
  </div>
<% end %>
<% end %>
<% end %>

